<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cupid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_element_11"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_element_11"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.AboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.QuizResultsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.QuizQuestionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cupid.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyDRtgmnGcbBP_txY6GwFi7IeecTIewVIDM" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.nearby.connection.SERVICE_ID"
            android:value="123456" />

    </application>

    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Optional: only required for FILE payloads -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>
